*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  border: 0;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}
/*Стили для демонстрации*/

body {
  background-color: #eee;
  font-family: Arial, Helvetica, sans-serif;
}
.wrapper {
  width: 100%;
  min-height: 100%;
  height: 100%;
  overflow: hidden;

  padding: 20px 30px;
}

.block-form {
}
.block-form__title {
  font-size: 40px;
  margin-bottom: 20px;
}
.block-form__input {
  margin-bottom: 15px;
}

/*Основные стили*/
.checkbox {
  font-size: 16px;
  line-height: 20px;
  padding: 0px 0px 0px 70px;
  position: relative;
  cursor: pointer;

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.checkbox.active {
  color: #000;
}

.checkbox.active:before {
  background-color: #4fbb65;
}

.checkbox.active:after {
  background-color: #4fbb65;
  left: 25px;
}

.checkbox:before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 20px;
  background-color: #bfc0c4;
  position: absolute;
  left: 0;
  top: 0;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.checkbox:after {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #bfc0c4;

  left: 0;
  top: -5px;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.checkbox input {
  display: none;
}
.radiobuttons {
}
.radiobuttons__item {
  position: relative;
  padding: 0px 0px 0px 50px;
  font-size: 16px;
  color: #b2b2b2;
  line-height: 30px;
  margin-bottom: 20px;

  cursor: pointer;

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.radiobuttons__item.active {
  color: #000;
}

.radiobuttons__item.active:after {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}

.radiobuttons__item:before {
  content: "";
  width: 30px;
  height: 30px;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #bfc0c4;
  border-radius: 50%;
  -webkit-box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
}

.radiobuttons__item:after {
  position: absolute;
  width: 20px;
  height: 20px;
  left: 5px;
  top: 5px;
  background-color: #4fbb65;
  content: "";
  border-radius: 50%;

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;

  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);
}

.radiobuttons__item input {
  display: none;
}
.button {
  line-height: 60px;
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 8px;
  padding: 0px 30px;
  font-size: 18px;
  border-radius: 25px;
  background-color: #bfc0c4;

  position: relative;

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}
.button span {
  position: relative;
  z-index: 2;
}
.button:before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #4fbb65;
  border-radius: 25px;

  transform: scale(0);
  -webkit-transform: scale(0);
  -moz-transform: scale(0);
  -ms-transform: scale(0);
  -o-transform: scale(0);

  transition: all 0.3s ease 0s;
  -webkit-transition: all 0.3s ease 0s;
  -moz-transition: all 0.3s ease 0s;
  -ms-transition: all 0.3s ease 0s;
  -o-transition: all 0.3s ease 0s;
}

.button:hover {
  color: #fff;
}

.button:hover:before {
  transform: scale(1);
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
}
